.searchBarDiv{
    margin:auto;
    margin-top: 10px;
    margin-bottom: 10px;
    position: relative;
    width: 400px;
    height: 50px;
    border: 4px solid #dc143c;
    border-radius: 50px;
}
.searchBarContainer{
    width: 100%;
    height: 100%;
    vertical-align: middle;
}
.search{
    border: none;
    height: 100%;
    width: 100%;
    padding: 0px 10px;
    border-radius: 50px;
    font-size:15px;
    font-family: 'Montserrat', sans-serif;
    caret-color: transparent;

    
}
.search:focus{
    outline: none;
}
.search::placeholder{
    color: #f1cccc;
    font-family: 'Montserrat', sans-serif;
}
.svgBtn{
    border:none;
    background-color: #fff;
    
}
.svgBtn:focus{
    outline: none;
}

.row{
    width: 85%;
    display: flex;
    float: right;
    justify-content: center;
    flex-wrap: wrap;
    

}

.productImage{
    margin: 10px;
    height: 350px;
    width: 300px;
    float: left;
}
.col-1{
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
}
.productInfo{
    font: optional;
    width: 300px;
    margin: 12px;
}
.productInfo h1{
    width: 300px;
    height: auto;
    font-size: 90%;
}
.addToCart{
    width: 300px;
    font-size: 19px;
    background-color: #dc143c;
    color: #f1cccc;
    margin: auto;
    padding: 8px 30%;
    align-items: center;
    margin-bottom: 10px;
}

@media screen and (max-width: 600px) {
    .row{
        width: 100%;
    }

    .searchBarDiv{
        margin:auto;
        margin-top: 10px;
        margin-bottom: 10px;
        position: relative;
        width: 100%;
        height: 50px;
        border: 4px solid #dc143c;
        border-radius: 50px;
    }
}